*,
*::before,
*::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    16deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 38, 121, 1) 69%,
    rgba(0, 50, 255, 0.9178265056022409) 100%
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 2rem;
}

.heading {
  margin-bottom: 1rem;
  /* background: linear-gradient(
    16deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 38, 121, 1) 69%,
    rgba(0, 50, 255, 0.9178265056022409) 100%
  );
  background-clip: text;
  color: transparent; */

  background: -webkit-linear-gradient(
    rgba(2, 0, 36, 1),
    rgba(37, 38, 121, 1),
    rgba(0, 50, 255, 0.9178265056022409)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  background-color: white;
  border-radius: 5px;
  padding: 1.4rem 2.8rem;
  width: 72rem;
  max-width: 100%;
  margin-top: 2.4rem;
}

.input {
  margin-bottom: 1.8rem;
}
.input input,
.input textarea {
  padding: 8px;
  font-size: 2rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #0b239e;
  font-family: "Lato", sans-serif;
}

.button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    16deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 38, 121, 1) 69%,
    rgba(0, 50, 255, 0.9178265056022409) 100%
  );
  color: white;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 1.6rem;
  transition: all 0.2s;
  margin-right: 1.2rem;
}

.reset {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    16deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(108, 214, 144, 1) 100%,
    rgba(0, 50, 255, 0.9178265056022409) 100%
  );
}

.button:active {
  transform: translateY(4px);
}

.qr-container {
  background-color: white;
  padding: 1.4rem 2.8rem;
  width: 72rem;
  max-width: 100%;
  margin-top: 2.8rem;
  border-radius: 5px;
  text-align: center;
}

.qr-div {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.qr {
  width: 70%;
  height: auto;
  margin-bottom: 2rem;
}

.heading_name {
  font-size: 2.8rem;
}
.scan_read {
  margin-bottom: 2.4rem;
  opacity: 0.8;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: white;
  text-align: center;
  margin-bottom: 1.2rem;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 2.4rem;
  }
}
